:root {
  --blue: #bff0ff; 

  --EditNone: none;
  --ADDNone: none;

  --ADDer: none;
  --EDitor: none;

}

body {
    background-color: var(--blue);
    font-family: sans-serif;
  }
  .modal-container {
    background-color: rgba(0, 0, 0, 0.685);
    display: var(--ADDer);
    align-items:center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}
.modal-StudentEdit {
    background-color: rgba(0, 0, 0, 0.096);
    display: var(--EDitor);
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}
#Student_EDIT {
    pointer-events: var(--EditNone); 
}
#Student_Adder {
    pointer-events: var(--ADDNone);
}


.modal-dialog {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    padding: 30px 50px;
    width: 600px;
    max-width: 100%;
    text-align: center;
}